{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJp3p0p2Htb0p2MG7sCugS7Xs2hO9uEmOZelAa0PpL3gRbD7vtr7bDl6l55r" crossorigin="anonymous">

    <title>All Certifications</title>
    <style>
      body {
        font-family: "Roboto", sans-serif;
      }

      .card_text {
        font-size: 18px;
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <h1>All Operator Certifications</h1>
    <div class="table-responsive">
      <table border="1">
        <thead>
          <tr>
            <th>TAC Number</th>
            <th>Picture</th>
            <th>Name</th>
            <th>ID Number</th>
            <th>Issued Date</th>
            <th>Expiry Date</th>
            <th>Company</th>
            <th>Project</th>
            <th>Trainer</th>
            <th>Approver</th>
            <th>ENR Number</th>
            <th>Level/Categories</th>
            <th>QR Code</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for cert in certifications %}
          <tr>
            <td>{{ cert.tac_number }}</td>
            <td>
              {% if cert.profile_pic %}
              <img
                src="{{ cert.profile_pic.url }}"
                alt="Profile Picture"
                width="50"
              />
              {% else %} No Profile Picture {% endif %}
            </td>
            <td>{{ cert.name }}</td>
            <td>{{ cert.id_number }}</td>
            <td>{{ cert.issued_date }}</td>
            <td>{{ cert.expiry_date }}</td>
            <td>{{ cert.company }}</td>
            <td>{{ cert.project }}</td>
            <td>{{ cert.trainer }}</td>
            <td>{{ cert.approver }}</td>
            <td>{{ cert.enr_number }}</td>
            <td>{{ cert.level_categories }}</td>
            <td>
              <!-- QR Code generated dynamically from the 'generate_qr_code' view -->
              <img
                src="{% url 'generate_qr_code' cert.tac_number %}"
                alt="QR Code"
                width="100"
              />
            </td>
            <td>
              <button
                class="btn btn-dark download-btn"
                onclick="downloadCardAsPDF(
                    '{{ cert.tac_number }}',
                    '{{ cert.name }}',
                    '{{ cert.company }}',
                    '{{ cert.project }}',
                    '{{ cert.id_number }}',
                    '{{ cert.issued_date|date:'d-M-Y' }}',
                    '{{ cert.expiry_date|date:'d-M-Y' }}',
                    '{{ cert.level_categories }}',
                    '{{ cert.trainer }}',
                    '{{ cert.approver }}',
                    '{{ cert.enr_number }}',
                    '{% if cert.profile_pic %}{{ cert.profile_pic.url }}{% else %}{% static 'images/default_profile.png' %}{% endif %}',
                    '{% url 'generate_qr_code' cert.tac_number %}',
                    '{% static 'images/front2.png' %}',
                    '{% static 'images/image.png' %}',
                    '{% static 'images/down.png' %}',
                   
                  )"
              >
                Download
              </button>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="12">No certifications found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
      function downloadCardAsPDF(
        tacNumber,
        name,
        company,
        project,
        idNumber,
        issuedDate,
        expiryDate,
        levelCategories,
        trainer,
        approver,
        enrNumber,
        profilePicUrl,
        qrCodeUrl,
        frontImage,
        backImage,
        downImage,
      ) {
        const idCard = document.createElement("div");
        idCard.style.display = "flex";
        idCard.style.flexDirection = "column";
        idCard.style.alignItems = "center";
        idCard.style.padding = "10px";
        idCard.style.background = "#fff";
        idCard.style.width = "600px";
        idCard.style.height = "800px";
        idCard.style.position = "absolute";
        idCard.style.left = "-9999px";

        let formattedIssueDate = issuedDate;
        let formattedExpiryDate = expiryDate;

        // Front of the card
        const frontCard = document.createElement("div");
        frontCard.style.width = "600px";
        frontCard.style.height = "400px";
        frontCard.style.position = "relative";
        frontCard.style.background = `url('${frontImage}') no-repeat center center`;
        frontCard.style.backgroundSize = "contain";
        frontCard.innerHTML = `
          <p  style="position: absolute; top: 95px; left: 56px;color:red;"><strong>${tacNumber}</strong></p>
          
         <div style="position: absolute; top: 110px; left: 168px; width: 295px; font-weight:bold;">
           <p class="card_text" style="margin: 0 0 2px 0; word-wrap: break-word;"><strong></strong>Name: ${name}</p>
           <p class="card_text" style="margin: 0 0 2px 0;"><strong></strong>ID No.: ${idNumber}</p>
           <p class="card_text" style="margin: 0 0 2px 0;"><strong></strong>Issued: ${formattedIssueDate}</p>
           <p class="card_text" style="margin: 0 0 2px 0;"><strong></strong>Expiry: ${formattedExpiryDate}</p>
           <p class="card_text" style="margin: 0 0 2px 0;"><strong></strong>Company: ${company}</p>
           <p class="card_text" style="margin: 0 0 2px 0;"><strong></strong>Project: ${project}</p>
         </div>

          <img src="${profilePicUrl}" style="position: absolute; top: 138px; left: 31px; width: 126px; height: 124px;" />
          <p  style="position: absolute; top: 240px; left: 48px;color:white;font-size:8px;font-weight:200;"><strong>${idNumber} / ${tacNumber}</strong></p>
          <img src="${qrCodeUrl}" style="position: absolute; top: 115px; right: 18px; width: 120px; " />
          <p style="position: absolute; top: 283px; left: 0px; font-size: 8px; font-weight: 200; background-color: #E9F8FF; color: grey; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
             ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}
          </p>

        `;

        // Back of the card
        const backCard = document.createElement("div");
        backCard.style.width = "600px";
        backCard.style.height = "400px";
        backCard.style.position = "relative";
        backCard.style.background = `url('${backImage}') no-repeat center center`;
        // backCard.style.backgroundColor = "red";
        backCard.style.backgroundSize = "contain";
        backCard.innerHTML = `
          
          <p class="card_text" style="position: absolute; top: 15px; right: 30px; font-weight: bold;">ENR NO</p>
          <p class="card_text" style="position: absolute; top: 43px; right: 20px; font-weight: bold;color:red;">${enrNumber}</p>
          <p class="card_text" style="position: absolute; top: 15px; left: 32px;"><strong>Trained by: ${trainer}</strong></p>
          <p class="card_text" style="position: absolute; top: 43px; left: 32px;"><strong>Approved by: ${approver}</strong></p>
          <p class="card_text" style="position: absolute; top: 128px; left: 288px; "><strong>${levelCategories}</strong></p>
            <p style="position: absolute; top: 263px; left: 0px; font-size: 8px; font-weight: 200; background-color: #E9F8FF; color: grey; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
             ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}   ${idNumber}   ${tacNumber}
          </p>
          <img src="${downImage}" style="position: absolute; top: 285px; left: 0px; width:600px;height 100px;" />

       
        `;

        // Append cards and generate PDF
        idCard.appendChild(frontCard);
        idCard.appendChild(backCard);
        document.body.appendChild(idCard);

        html2canvas(idCard, { scale: 2.5, useCORS: true }).then((canvas) => {
          const { jsPDF } = window.jspdf;
          let pdf = new jsPDF({
            orientation: "portrait",
            unit: "mm",
            format: "a4",
          });
          let imgData = canvas.toDataURL("image/png");
          pdf.addImage(imgData, "PNG", 10, 10, 190, 250);
          pdf.save(`ID_Card_${name}.pdf`);
          document.body.removeChild(idCard);
        });
      }

      function formatDate(dateString) {
        const date = new Date(dateString);
        return (
          ("0" + date.getDate()).slice(-2) +
          "/" +
          ("0" + (date.getMonth() + 1)).slice(-2) +
          "/" +
          date.getFullYear()
        );
      }
    </script>
    <!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-GLhlTQ8iRABdLJqgDkzjfpEXt0FqU5G9r0J3he4vw6dOAMjEr7gxt93Zm5uJnk2R" crossorigin="anonymous"></script>

  </body>
</html>
